@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*root font-size for rem unit*/
/*Always set this to percentage of the font-size specified by the browser. Just in case
the user changes it in the settings*/
/* Since we are relying on the fact that the initial on the browser will be 16px 
but we want to start from 10px, we do a simple calculation 16px =100%, 10px = 1000/16=62.5%*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f4f9ffa3;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5881af, #364f6b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading-tetiary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #5881af, #364f6b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.attraction-text__header {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #5881af, #364f6b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.about-row__paragraph {
  font-size: 1.6rem;
  line-height: 2; }
  .about-row__paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.attraction-text__paragraph {
  font-size: 1.5rem;
  line-height: 2; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.4rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /*apply the rules of 0% to the button immediately*/
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: all 0.4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  background-color: #364f6b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #364f6b;
  padding: 5px;
  text-transform: capitalize; }

.btn-text:hover {
  background-color: #222e3b;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.header {
  height: 100vh;
  background-color: #222e3b;
  background-image: linear-gradient(to right, rgba(34, 46, 59, 0.1), rgba(34, 46, 59, 0.1)), url("../img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: ellipse(100% 90% at 85% 10%);
  clip-path: ellipse(97% 80% at 95% 20%);
  position: relative;
  display: flex;
  flex-direction: column; }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 20px; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .header__text-box {
    position: absolute;
    top: 40%; } }

.section-about {
  margin: 6rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.about-row {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 5rem 2rem; }

.about-row__down {
  padding-top: 5rem;
  background-color: #f2f8ffde; }

.about-row__paragraph {
  padding-top: 1rem; }

.about-row__img {
  width: 100%;
  transition: 600ms transform cubic-bezier(0.19, 1, 0.22, 1); }

.about-row__video {
  width: 100%; }

.about-row__video--text {
  margin-top: 5%; }
  .about-row__video--text span {
    display: block;
    margin-top: 4%; }

.section-attractions {
  padding: 0 2rem 3rem 2rem; }

.attraction-row {
  position: relative;
  margin-bottom: 250px;
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in; }

.section-show {
  opacity: 1; }

.long-text {
  margin-bottom: 280px; }

.attraction-img-container {
  overflow: hidden; }
  .attraction-img-container:hover .attraction-img {
    transform: scale(1.5);
    cursor: pointer; }

.attraction-img {
  width: 100%;
  transition: 600ms transform cubic-bezier(0.19, 1, 0.22, 1); }

.attraction-text {
  padding: 0 2rem 5rem 2rem;
  position: absolute;
  top: 85%;
  background-color: #fff;
  width: 95%;
  left: 5%;
  padding: 2.5rem;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px; }
  .attraction-text.attraction-text--left {
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 3px; }

.attraction-text::before {
  content: '';
  background-color: #ef8c007d;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border-top-left-radius: 3px; }

.attraction-text::after {
  content: '';
  background-color: #5881af59;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border-bottom-right-radius: 3px; }

.section-ethnicity {
  padding: 3rem 2rem 5rem 2rem;
  background-color: #f2f8ffde; }

.slider,
.wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

.slide-content {
  height: 70%; }

.wrap {
  position: relative; }
  .wrap .slider-control-container {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around; }
    .wrap .slider-control-container .slider-control {
      height: 5px;
      border: 1.5px solid #fff;
      cursor: pointer; }
      .wrap .slider-control-container .slider-control.active {
        background-color: #fff;
        border: none; }
      .wrap .slider-control-container .slider-control:hover {
        background-color: #fff;
        border: none; }

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.slide1 {
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  background-image: url("../../img/emarati.png"); }

.slide2 {
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  background-image: url("../../img/indianpeople.png"); }

.slide3 {
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  background-image: url("../../img/bangladesh.png");
  background-position-x: 1%; }

@keyframes moveInLeft {
  0% {
    display: block;
    transform: translateX(-50px); } }

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 5%; }
  .slide-content .ethnicity-text__header {
    font-size: 2.5rem;
    color: #fff; }
  .slide-content .ethnicity-text__paragraph {
    font-size: 1.5rem;
    color: #f0f0f0;
    margin-bottom: 5%; }
  .slide-content .ethnicity-btn {
    width: 60%; }
    .slide-content .ethnicity-btn:hover {
      background-color: #fff;
      color: #222e3b;
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid #fff;
      transform: translateY(-2px); }

.footer {
  background: #222e3b;
  color: #f0f0f0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.01);
  padding: 1%; }
  .footer .ethnicity-btn {
    width: 40%;
    padding: 0; }
    .footer .ethnicity-btn:hover {
      background-color: #fff;
      color: #222e3b;
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid #fff;
      transform: translateY(-2px); }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 380px) and (max-width: 767px) {
  .attraction-row {
    margin-bottom: 200px; }
  .long-text {
    margin-bottom: 230px; } }

@media (min-width: 768px) {
  .expo-dubai-header {
    margin-top: 2.5rem; }
  .about-row {
    padding: 0 5rem 5rem 5rem; }
  .about-row__paragraph {
    padding-top: 2rem;
    font-size: 1.8rem; }
  .attraction-text__paragraph {
    font-size: 1.8em; }
  .section-attractions {
    padding: 0 5rem 3rem 5rem; }
  .attraction-row {
    width: 48%;
    margin-bottom: 320px; }
  .attractions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .attraction-text {
    height: 320px; }
  .section-ethnicity {
    padding: 3rem 5rem 5rem 5rem; }
  .slide-content .ethnicity-text__paragraph {
    font-size: 1.8rem; }
  .heading-tetiary.heading-tetiary--first {
    text-align: center; }
  .image-paragraph {
    text-align: center; }
  .slide-content .ethnicity-btn {
    width: 30%; }
  .heading-primary--main {
    font-size: 6rem; }
  .heading-primary--sub {
    font-size: 2.4rem; }
  .heading-secondary {
    font-size: 3.5rem; }
  .heading-tetiary {
    font-size: 3.0rem; } }

@media (min-width: 1200px) {
  .about-row {
    padding: 0 10rem 5rem 10rem; }
  .about-row__paragraph {
    padding-top: 2rem;
    font-size: 2rem; }
  .about-row__body {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .about-row__body .about-row__video {
      width: 45%; }
    .about-row__body .about-row__video--text {
      width: 50%;
      font-size: 1.8rem;
      padding-top: 0;
      margin-top: -10px;
      text-align: justify; }
      .about-row__body .about-row__video--text span {
        display: block;
        margin-top: 4%; }
  .section-attractions {
    padding: 0 10rem 3rem 10rem; }
  .section-ethnicity {
    padding: 3rem 10rem 5rem 10rem; }
  .slide-content .ethnicity-text__paragraph {
    font-size: 2.5rem; }
  .slide-content .ethnicity-btn {
    width: 20%; } }
