@mixin colourHeading {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
