//COLOURS
$color-primary: #364f6b;
$color-primary-light: #5881af;
$color-primary-dark: #222e3b;
$color-hero:#136991;

$color-grey-light-1:#f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
