.section-about {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-row {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 5rem 2rem;
}

.about-row__down {
  padding-top: 5rem;
  background-color: #f0f0f0;
}

.media-container__overflow {
  overflow: hidden;
  &:hover {
    .about-row__img {
      transform: scale(1.5);
    }
  }
}

.about-row__paragraph {
  padding-top: 3rem;
}

.about-row__img {
  width: 100%;
  transition: 600ms transform cubic-bezier(0.19, 1, 0.22, 1);
}
