.section-ethnicity {
  padding: 3rem 2rem 5rem 2rem;
  background-color: #f2f8ffde;
}

.slider,
.wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.slide-content {
  height: 70%;
}

.wrap {
  position: relative;

  .slider-control-container {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;

    .slider-control {
      height: 5px;
      border: 1.5px solid #fff;
      cursor: pointer;

      &.active {
        background-color: #fff;
        border: none;
      }

      &:hover {
        background-color: #fff;
        border: none;
      }
    }
  }
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  background-image: url('/img/emarati.png');
}
.slide2 {
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  background-image: url('/img/indianpeople.png');
}
.slide3 {
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  background-image: url('/img/bangladesh.png');
  background-position-x: 1%;
}

@keyframes moveInLeft {
  0% {
    display: block;
    transform: translateX(-50px);
  }
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 5%;

  .ethnicity-text__header {
    font-size: 2.5rem;
    color: #fff;
  }

  .ethnicity-text__paragraph {
    font-size: 1.5rem;
    color: #f0f0f0;
    margin-bottom: 5%;
  }

  .ethnicity-btn {
    width: 60%;

    &:hover {
      background-color: $color-white;
      color: $color-primary-dark;
      box-shadow: 0 1rem 2rem rgba($color-white, 0.2);
      border-bottom: 1px solid $color-white;
      transform: translateY(-2px);
    }
  }
}
