.header {
  height: 100vh;
  background-color: $color-primary-dark;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-dark, 0.9),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  -webkit-clip-path: circle(100% 90% at 95% 10%);
  clip-path: ellipse(100% 90% at 85% 19%);
  position: relative;
  display: flex;
  flex-direction: column;

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 20px;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .header{
    &__text-box {
      position: absolute;
      top: 40%;
    }
  }
  
}