.header {
  height: 100vh;
  background-color: $color-primary-dark;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-dark, 0.1),
      rgba($color-primary-dark, 0.1)
    ),
    url("../img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: ellipse(100% 90% at 85% 10%);
  clip-path: ellipse(97% 80% at 95% 20%);
  position: relative;
  display: flex;
  flex-direction: column;

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 20px;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    &__text-box {
      position: absolute;
      top: 40%;
    }
  }
}
