body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f4f9ffa3;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  @include colourHeading;
}

.heading-tetiary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  @include colourHeading;
}

.attraction-text__header {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  @include colourHeading;
}

.about-row__paragraph {
  font-size: 1.6rem;
  line-height: 2;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.attraction-text__paragraph {
  font-size: 1.5rem;
  line-height: 2;
}
